















  background: #ddd;
  background: #fff;
  body {
  border: 1px solid #999;
  clear: both;
  content: "";
  display: flex;
  display: table;
  flex-direction: row;
  float: left;
  font-size: 24px;
  font-weight: bold;
  font: 14px "Century Gothic", Futura, sans-serif;
  height: 34px;
  line-height: 34px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: -1px;
  margin-top: -1px;
  margin: 20px;
  outline: none;
  padding-left: 30px;
  padding: 0;
  text-align: center;
  width: 34px;
.board-row:after {
.game {
.game-info {
.kbd-navigation .square:focus {
.square {
.square:focus {
.status {
ol, ul {
}
}
}
}
}
}
}
}
}